<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="methods" thread-count="2">
    <test name="HRM Tests">
        <classes>
            <class name="com.vinaykumar.hrmauto.tests.LoginTest"/>
            <class name="com.vinaykumar.hrmauto.tests.UserManagementTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.vinaykumar.hrmauto.listeners.TestListener"/>
        <listener class-name="com.vinaykumar.hrmauto.listeners.RetryListener"/>
    </listeners>

</suite>